bitsandbytes==0.42.0
datasets==2.16.1
diffusers==0.27.2
editdistance==0.6.2
evaluate==0.4.1
huggingface_hub==0.20.3
nlp2==1.8.52
numpy==1.26.4
pandas==2.2.1
parameterized==0.9.0
Pillow==10.3.0
psutil==5.9.8
PyGithub==2.3.0
pytest==8.1.1
regex==2023.12.25
scikit_learn==1.4.1.post1
setuptools==68.2.2
slack_sdk==3.27.1
soundfile==0.12.1
tabulate==0.9.0
torch==2.1.2
torchaudio==2.1.2
tqdm==4.66.1
transformers==4.39.1
wandb==0.16.2
zhon==2.0.2
accelerate
peft==0.4.0